
<div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
        <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
        <span></span><span></span><span></span>
    </div>
</div>
<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="/"><img src="img/core-img/logo.png" alt="">JuliShop</a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li class="active"><a href="/">Accueil</a></li>
            <li><a href="/boutique">boutique</a></li>
            
            <div class="cart-fav-search mb-100">
                <a href="/Panier" class="cart-nav"><img src="{{ url_for('static', filename='img/core-img/cart.png') }}" alt=""> Panier<span>(0)</span></a>
                <!-- <a href="#" class="fav-nav"><img src=" {{ url_for('static', filename='img/core-img/favorites.png') }}" alt=""> Favourite</a> -->
                <a href="#" class="search-nav"><img src=" {{ url_for('static', filename='img/core-img/search.png') }}" alt=""> Rechercher </a>
            </div>
            
            
            <!-- <li><a href="product-details.html">Product</a></li> -->
            <!-- <li><a href="/Panier">Cart</a></li>
            <li><a href="checkout.html">Checkout</a></li> -->
        </ul>
    </nav>
    <!-- Button Group -->
    <!-- <div class="amado-btn-group mt-30 mb-100">
        <a href="#" class="btn amado-btn mb-15">%Discount%</a>
        <a href="#" class="btn amado-btn active">New this week</a>
    </div> -->
    
    <!-- Cart Menu -->
    
    <!-- Social Button -->
    <div class="social-info d-flex justify-content-between">
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</header>
<!-- Header Area End -->